
 .topbox {
 	margin: 0;
  	padding-top: 20px;
  }
h1 {
  	font-family: "grafolita-script",sans-serif;
  	margin: -20px;
  	padding-top: 20px;
  	padding-bottom: 20px;
  	font-size: 55px;
  	background-color: #F7D472;
  	text-align: center;
	color: #F97432;

  }
 .bottombox {
 	background-color: #F7D472;
 	margin-top: -20px;

 }
h2 {
  	font-family: "fira-sans-2", sans-serif;
  	margin-top: 23px;
  	padding-bottom: 20px;
  	padding-top: 20px;
  	text-align: center;
  	color: #6D3924;

  }
.header {
	
	margin-bottom: 40px;

}
.wrapper {
	text-align: center;
}
.trash {
	height: 32px;
	width: 32px;
	margin-left: 75px;
	float: right;
}
.shoppinglist li {
	list-style-type: none;
	overflow: auto;
}
ul {
	width: 500px;
	margin: 0 auto;

}
li span {
	text-align: right;
}
.checked {
	color:red;
}
form .checkboxes {
	display: block;
	margin: 25px;
}
li.meat:before {
	content:'\2022';
	font-size: 24px;	
	color: purple;
	float: left;
}
label {
	margin: 25px 50px;
}