
 .topbox {
 	margin: 0;
  	padding-top: 20px;
  }
h1 {
  	font-family: "grafolita-script",sans-serif;
  	margin: -20px;
  	padding-top: 20px;
  	padding-bottom: 7px;
  	font-size: 62px;
  	background-color: #F7D472;
  	text-align: center;
	color: #F97432;

  }
 .bottombox {
 	background-color: #F7D472;
 	margin-top: -20px;

 }
h2 {
  	font-family: "fira-sans-2", sans-serif;
  	margin-top: 23px;
  	padding-bottom: 3px;
  	text-align: center;
  	color: #6D3924;

  }
.header {
	
	margin-bottom: 40px;

}
.wrapper {
	text-align: center;
}
.trash {
	width: 20px;
	float: right;
	vertical-align: middle;
}
.shoppinglist li {
	list-style-type: none;
	overflow: auto;
	text-align: left;
	vertical-align: middle;
	background-color: lightblue;
	margin: 8px 0;
	padding: 6px 6px 0px;
}
ul {
	margin: 0 auto 20px;
	padding: 0;
	width: 70%;
	min-width: 240px;
}
li span {
	vertical-align: middle;
	margin-left: 5px;
	
}
.checked {
	color:red;
}
form .checkboxes {
	display: block;
	margin: 25px;
}
.checkboxes input{
	margin-right: 8px;

}
li:before {
	content:'\2022';
	font-size: 24px;	
	color: white;
	float: left;
	margin-top: -2px;
}

li.meat:before {
	content:'\2022';
	font-size: 24px;	
	color: purple;
	float: left;
	margin-top: -2px;
}
li.dairy:before {
	content:'\2022';
	font-size: 24px;	
	color: #7FFFD4;
	float: left;
	margin-top: -2px;
}

li.produce:before {
	content:'\2022';
	font-size: 24px;	
	color: green;
	float: left;
	margin-top: -2px;
}

li.bakery:before {
	content:'\2022';
	font-size: 24px;	
	color: yellow;
	float: left;
	margin-top: -2px;
	}

li.dry:before {
	content:'\2022';
	font-size: 24px;	
	color: red;
	float: left;
	margin-top: -2px;
	}

li.frozen:before {
	content:'\2022';
	font-size: 24px;	
	color: blue;
	float: left;
	margin-top: -2px;
	}
li.other:before {
	content:'\2022';
	font-size: 24px;	
	color: black;
	float: left;
	margin-top: -2px;
}

label {
	margin: 6px;
	line-height: 27px;
}

