body {
	background-color: white;
	}
h1, h2 {
	background-color: orange;
	text-align: center;
	color: white;
	font-family: serif;
}
.header {
	background-color: orange;
	font-family: "grafolita-script",sans-serif;

}
.logo {
	height: 32px;
	width: 32px;
	margin-left: 75px
}

